# Zensical Documentation:
# https://zensical.org/docs/get-started/
site_name: My Main GitHub Page
site_url: https://maroph.github.io/
site_description: My main GitHub Page
site_author: Manfred Rosenboom (maroph)

repo_name: maroph/maroph.github.io
repo_url: https://github.com/maroph/maroph.github.io/
edit_uri: edit/main/docs
# view readonly version                  edit_uri: blob/main/docs
# link to GitHub repository site only    edit_uri: ""

theme:
    name: material
    # variant: classic
    palette:
        - scheme: default
          primary: indigo
          accent: indigo
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
            icon: material/brightness-4
            name: Switch to light mode
    font: false
    language: en
    direction: ltr
    favicon: assets/zensical_32x32.png
#    logo: assets/python-logo-only2.png
    features:
        - header.autohide
        - content.action.edit
        - content.action.view
        - content.code.copy
        - content.tooltips
        - navigation.expand
        - navigation.footer
        - navigation.indexes
        - navigation.instant
        - navigation.prune
        - navigation.sections
        - navigation.tracking
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.top
        - search.suggest
        - search.highlight
        - toc.follow
#        - toc.integrate
    icon:
        repo: fontawesome/brands/github
        edit: material/pencil
        view: material/eye
        previous: fontawesome/solid/angle-left
        next: fontawesome/solid/angle-right

nav:
    - Home: index.md
    - Links:
        - links.md
        - My Sites: links/my_sites.md
        - GitHub Pages: links/github_pages.md
        - Collaboration: links/collaboration.md
        - GPT: links/gpt.md
        - Rankings: links/rankings.md
        - Security: links/security.md
        - Software: links/software.md
    - Info:
        - info.md
        - About: info/about.md
        - OpenPGP Key: info/openpgp/openpgp.md
        - GDPR/DSGVO: info/gdpr.md
        - License: info/license.md
        - Sources: info/sources.md

docs_dir: docs
site_dir: site

use_directory_urls: false
strict: true

copyright: Copyright (c) 2020-2026 <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a> by <a href="https://maroph.github.io/">Manfred Rosenboom</a>

markdown_extensions:
    - attr_list
    - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - tables


plugins:
    - info:
          enabled: false
    - offline:
          enabled: false
    - privacy:
          enabled: true
          cache: true
    - search:
          enabled: true
          lang: en

extra:
    generator: true
    social:
        - icon: fontawesome/solid/blog
          link: https://maroph.github.io/nosense/
          name: maroph.github.io/nosense
        - icon: fontawesome/brands/codepen
          link: https://codepen.io/maroph/
          name: codepen.io/maroph
        - icon: fontawesome/brands/github
          link: https://github.com/maroph
          name: github.com/maroph
        - icon: fontawesome/brands/mastodon
          link: https://mastodon.social/@maroph
          name: mastodon.social/@maroph
